<form method="post" action="{{ path('app_organisation_crud_delete', {'id': organisation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organisation.id) }}">
    <button class="btn">Delete</button>
</form>
