{% extends 'backoffice/index.html.twig' %}

{% block title %}Edit Organisation{% endblock %}

{% block content %}
    <h1>Edit Organisation</h1>

    {{ include('backoffice/organisation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_organisation_crud_index') }}">back to list</a>

    {{ include('backoffice/organisation/_delete_form.html.twig') }}
{% endblock %}
