{% extends 'baseback.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br><br>

    <div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
    <div class="col-sm-12 col-lg-12">
    <div class="card">
    <div class="card-header d-flex justify-content-between">
                             {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}
                             {{ include('type/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    </div>
    </div>
                            <a class="btn btn-success" href="{{ path('typeb') }}">back to list</a>

{% endblock %}