{% extends 'base_front.html.twig' %}
{% block body %}
      <h1> Blog list</h1>

    <ul>
        {% for blog in blogs %}
            <li>
                {{ blog.titre }}
                <a href="{{ path('edit_blog', {'id': blog.id}) }}">Modify</a>
                <a href="{{ path('delete_blog', {'id': blog.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}