{% extends 'base_front.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h5 class="text-center mb-4">Donate to {{ organisation.nomOrganisation }}</h5>
                {{ form_start(form) }} {# This initializes your form #}
                    <div class="mb-3">
                        {{ form_row(form.montant, {'attr': {'class': 'form-control', 'id': 'montant'}}) }} {# Renders the montant field #}
                    </div>
                    {# If you have other fields you want to manually render, do it here. #}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Donate</button>
                    </div>
                {{ form_end(form) }} {# This closes your form tag and renders any remaining fields including CSRF token #}
            </div>
        </div>
    </div>
    
    
{% endblock %}
