{# templates/security/profile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <h1>User Profile</h1>
    
    {% if user %}
        <p>Username: {{ user.getUsername() }}</p>
        <p>Email: {{ user.getEmail() }}</p>
        <!-- Add more user properties as needed -->
    {% else %}
        <p>User not found</p>
    {% endif %}
{% endblock %}
